.progressbar-wrapper {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.progressbar li.active + li:after {
    background-color: #1979c5 !important;
}
.progressbar li {
    list-style-type: none;
    padding-top: 14px !important;
    //width: 20%;
    float: left;
    // font-size: 12px;
    position: relative;
    text-align: center;
    //text-transform: uppercase;
    color: #7d7d7d;
}

:host::ng-deep .step-body .p-component:disabled {
    cursor: default !important;
    background-color: #e9ecef;
    opacity: 0.6;
    pointer-events: none;
    color: black;
}

:host::ng-deep .step-body .p-disabled, .p-disabled * {
    cursor: default !important;
    background-color: #e9ecef;
    opacity: 0.6;
    pointer-events: none;
    color: black;
}

.progressbar li:before {
    display: flex !important;
    justify-content: center;
    width: 30px;
    align-items: center;
    height: 30px;
    content: "";
    text-align: center;
    border: 1px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.progressbar li:after {
    width: 248%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #7d7d7d;
    top: 30px;
    left: -171px;
    z-index: 0;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #1979c5 !important;
    font-weight: bold;
}
.progressbar li a {
    color: #2d82cb;
}

.progressbar li.active:before {
    border-color: #1979c5 !important;
    /* //background: green; */
}

.progressbar li.active + li:after {
    background-color: #1979c5 !important;
}

.progressbar li.active:before {
    /* background: #55b776 url(user.svg) no-repeat center center; */
    background-size: 100%;
}

.progressbar li::before {
    /* background: #fff url(user.svg) no-repeat center center; */
    background-size: 100%;
}

.progressbar {
    counter-reset: step;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
}

.card {
    height: 100%;
}

.card-header {
    background-color: #fff;
    padding: 0;
    font-size: 1.25rem;
}

.card-block {
    overflow-y: auto;
}

.card-footer {
    background-color: #fff;
    border-top: 0 none;
}

.active {
    font-weight: bold;
    color: black;
    border-bottom-color: #1976D2 !important;
}

.enabled {
    cursor: pointer;
    border-bottom-color: rgb(88, 162, 234);
}

/*.disabled {
    color: #ccc;
}*/

.completed {
    cursor: default;
}

.nav {
    display: flex;
    display: flex;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

@media screen and (max-width: 769px) {
    .progressbar li:after {
        width: 100% !important;
        left: -42px !important;
    }

    .nav {
        flex-wrap: inherit !important;
    }
}
