<div class="login-body">
    <div id="login-wrapper">
        <img src="assets/layout/images/login-logo.png" alt="omega-layout" />

        <div id="login-container">
            <span class="title">ATS</span>

            <div class="p-grid p-fluid">
                <div class="p-col-12">
                    <input type="text" autocomplete="off" pInputText placeholder="Username" />
                </div>
                <div class="p-col-12">
                    <input type="password" autocomplete="off" pInputText placeholder="Password" />
                </div>
                <div class="p-col-12 p-md-6">
                    <p-checkbox></p-checkbox>
                    <span class="remember-me">Remember Me</span>
                </div>
                <div class="p-col-12 p-md-6">
                    <a href="#" [routerLink]="['/registration']">Register</a>
                </div>
                <div class="p-col-12">
                    <p-button type="button" label="Sign In" icon="pi pi-user" [routerLink]="['/']"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
