<div class="p-col-12" style="height: 50px; width: 100%; background-color: #3f82db; ">

    <div class="p-col-12 ">
        <a href="login" style="float: right; color: white; padding-right: 25px;">
            <span>login</span>
        </a>

        <a href="registration" style="float: right; color: white; padding-right: 25px;">
            <span>Sign Up</span>
        </a>
    </div>

    <div class="wraper">
        <div class="signInBlock">
            <div class="signUp-form-block">
                <div class="ui-g ui-fluid ">
                    <div class="ui-g-12 p-sm-12 card steps-item" style="background-color: #0d89ec;">
                        <div class="registrationHeading">ATS Registration</div>
                    </div>
                </div>
                <div class="ui-g ui-fluid" style="min-height:300px;">
                    <div class="ui-g-12 p-sm-12 card steps-item">
                        <div class="stepsdemo-content p-pt-2" style="transform: translate(0px, 25px);">
                            <div class="card">
                                <div class="p-fluid">
                                    <div class="p-col-12 text-align">
                                        <p class="alert alert-success">
                                            <strong>Account Approved!</strong>
                                        </p>
                                    </div>
                                    <div class="p-col-12" style="display: flex; justify-content: end; transform: translate(3px, 30px);">
                                        <div>
                                            <button pButton pRipple label="Login" style="font-size: 20px;" (click)="login()" class="p-button-raised p-mr-2 p-mb-2"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
