:host ::ng-deep .is-invalid-dropdown .p-dropdown {
    outline: 1px solid #E91E63 !important;
}

:host ::ng-deep .is-invalid-dropdown .p-autocomplete {
    outline: 1px solid #E91E63;
}

.disabled {
    cursor: default !important;
    background-color: #e9ecef;
    opacity: 0.6;
    pointer-events: none;
}

.display-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-file {
    text-align: center;
    padding-left: 7px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 12px;
}
