@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-size: 15px !important;
    font-family: "Montserrat", sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-width-height {
    width: 100px;
    height: 35px;
}

.btn-height {
    height: 35px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        /*background-color: #f7f7f7;*/
        background-color: #1979c5;
        border-bottom: 1px solid #d6d5d5;
        /*justify-content: flex-end;*/
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
.reduce-margin-top {
    margin-top: 0.2rem !important;
}
.nav-link {
    padding: 0.2rem 0.5rem !important;
}

.sidebar {
    background-color: #1979c5;
    /*background: #515151;
    background: #f5821f;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #f5821f 70%);*/
}

    .sidebar .top-row {
        /*background-color: rgba(0,0,0,0.4);*/
        background-color: #ffff
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 15px;
        font-weight: 600;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 2rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                /*background-color: rgba(255,255,255,0.25);*/
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgb(248 141 13 / 80%);
                color: white;
            }

.content {
    padding-top: 0.2rem !important;
}
.padding-left-set {
    padding-left: 1.5rem !important;
}

.set-left-right{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .col-form-label {
        padding-right: 5px !important;
    }

    .main .top-row:not(.auth) {
        /*display: none;*/
    }
    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
    .sidebar {
        width: auto !important;
    }
    .padding-left-set {
        padding-left: 0px !important
    }
    .top-row {
        height: auto !important;
    }

    .navbar-toggler {
        background-color: #1b6ec2 !important;
    }
   
    .mobile-display {
        display: inherit !important;
    }
    .mobile-padding-remove {
        padding: 0px !important;
    }
    .mobile-pad-right-add {
        padding-right: 15px !important;
    }
    .mobile-pad-top-add {
        padding-top: 10px;
        padding-left: 0px !important;
    }
    .remove-margin-moblie {
        margin-left: 0px !important;
    }
    .mobile-head-action-btn {
        justify-content: flex-start !important;
        margin-left: 0px !important;
        padding-top: 10px !important;
        padding-left: 0px !important;
        /*left: calc(17%);*/
    }
    /*.header-actions {
        justify-content: flex-start !important;
        padding-left: 0px !important;
    }*/
    .display-end {
        display: block !important;
    }
    .white-space-nowrap {
        white-space: nowrap;
    }
    .padding-left-add {
        padding-left:23px !important;
    }
    .margin-bottom-mobile {
        margin-bottom: 0.35rem;
    }
    .mobile-display-none {
        display: none !important;
    }
    .margin-top-set {
        margin-top: 0px !important;
        margin-bottom: 0.7rem;
    }
    .padding-right-add {
        padding-right:6rem;
    }
    .margin-bottom-mobile {
        margin-bottom: 5px;
    }
    .remove-padding-right{
        padding-right: 0px !important;
    }
    .remove-padding-left {
        padding-left: 0px !important;
    }
    .mobile-transform-translate {
        transform: translate(21px, 0px);
        white-space: inherit !important;
    }
    .mobile-address {
        transform: translate(14px, 0px);
    }
    .mobile-transform-Details {
        transform: translate(31px, 0px);
    }
    .overflow-y-auto-mobile{
        overflow-y: auto;
    }
    .display-block {
        display: block !important;
    }
    .leave-moblie-right-padding {
        padding-right: 30px !important;
    }
    .timesheet-transform-translate {
        transform: translate(0px, 0px) !important;
    }
    .mobile-pad-left-add {
        padding-left: 15px !important;
    }
    .mobile-transform-translate {
        transform: translate(17px, 0px);
    }
    .mobile-first-dropdown-padding {
        padding-left: 18px !important;
    }
    .ticket-transform-translate {
        transform: translate(3px, 0px);
        padding-right: 4px !important;
    }
    .hidden-web {
        display: none !important;
    }
    .hidden-mobile {
        display: block !important;
    }
    .remove-margin-bottom {
        margin-bottom: 0px !important;
    }
    .mobile-horizontal-overflow{
        overflow-x: auto !important;
    }
    .dashboard-row-top {
        margin-top: 1rem !important;
    }
    .dashboard-column-bottom {
        margin-bottom: 1.5rem !important;
    }
    .web-transform{
        position: inherit !important;
        top:0 !important;
        transform: translate(0px, 0px) !important;
    }
    
}
.rightPadding-mobile {
    padding-right: 1rem;
}
@media (min-device-width:360px) and (max-device-width:640px) {
    .rightPadding-mobile {
        padding-right: .8rem !important;
    }
    .btn-width-remove-mobile {
        width: auto !important;
    }
    .btn-width-remove-mobile-webkit {
        width: -webkit-fill-available;
    }
}
.hidden-web {
    display: block;
}
.hidden-mobile {
    display: none;
}

.timesheet-transform-translate {
    transform: translate(-34px, 0px);
}

.margin-top-set {
    margin-top:1rem !important;
}
.timesheet-transform {
    transform: translate(-34px, 0px);
}



@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*.main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .expand-menu {
        padding-left: 4rem;
        padding-top: 3px;
        color: #d7d7d7;
    }
   
}
.hidden{
    display: none;
}
.header-actions {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
}
.header-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}
.display-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.display-dropdown2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.padding-left-add {
    padding-left: 35px;
}

.cusrsor {
    cursor: pointer;
    color: white;
}

.ihr-blue {
    background-color: #1979c5 !important;
}
.ihr-color2 {
    background-color: #f5821f !important;
}

.disable {
    pointer-events: none;
    opacity: 0.8;
}
.disable-row {
    pointer-events: none;
    opacity: 0.5;
}

.logout {
    font-family: sans-serif;
    color: #ffffff;
    float: right;
}

    .logout:hover {
        color: #f5821f;
    }

.login-user-display {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}

.user-image-display {
    text-align: right;
}

.table .thead-light th {
    color: white !important;
    background-color: #1979c5 !important;
    border-color: #dee2e6;
}
.table td {
    vertical-align: inherit !important;
    padding: 0.2rem !important;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgb(0 53 255 / 27%) !important;
}

.user-display {
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
    padding-right: 0px;
}
.action-btn-lineheight {
    line-height: 0;
}
.btn-line-height {
    line-height: 1.2;
}

.form-control-checkbox {
    width: 20px;
    height: 20px;
}
.modal {
    z-index: 1049 !important;
    background: linear-gradient(136deg, rgba(104,82,255,.6), rgba(136,208,214,.6));
}

.modal-dialog {
    min-height: 200px;
}

.modal-header {
    border-radius: 0;
    border: none;
    background: var(--pale-grey);
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    background-color: #1979c5;
    padding: 0.5rem 0rem;
}

/*a {
    color: #fff;
    display: block;
}*/

   /* a:hover {
        background-color: rgb(49, 10, 87);
    }*/

.btn-close {
    color: #ffff;
}

.modal-subheader {
    border-radius: 0;
    background: transparent;
    color: #5a5478;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.disabled {
    pointer-events: none;
}

@media (min-width: 576px) {
    .confirm-dialog {
        max-width: 432px !important;
    }
}
.modal-header .delete-close {
    padding: 1rem 2rem !important;
    opacity: inherit !important;
    color: white;
}
.delete-title {
    padding-left: 13px;
}
.close-modal {
    padding: 1rem 2rem !important;
    opacity: inherit !important;
    color: white;
}
.blazored-toast-body .blazored-toast-header {
    display: none !important;
}

.validation-errors {
    display: inline-flex;
}
.validation-message {
    display: inline-grid;
}

.remove-left-padding {
    padding-left: 0px;
}

.remove-right-padding {
    padding-right: 0px;
}
.nowrap-white-space {
    white-space: nowrap;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab {
    border-top: 1px solid;
    padding: 0px 10px;
}

.tab-heading {
    border: 1px solid black;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.form-group {
    margin-bottom: 0.35rem;
}

.form-group0 {
    margin-bottom: 0rem;
}


.card-title {
    font-weight: 600 !important;
    font-size: 16px;
    margin-top: -17px;
    background: #FFFFFF;
    display: table;
    padding: 0 10px;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
    padding-bottom: 0.2rem !important;
}

.error-message-color {
    color: red;
}

.remove-padding {
    padding-left: 0;
    padding-right: 0;
}

.remove-margin {
    margin-left: 0;
    margin-right: 0;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.menu-pointer {
    cursor: pointer;
}

.itemname {
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.username-circle {
    left: 5px;
    top: 5px;
    border: 2px solid black;
    background-color: #FFFFFF;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
}

.itememail {
    padding-left: 5px;
    font-size: 15px;    
}

.itemlinkcolor {
    color: blue;
    padding-top: 0px !important;
    padding-bottom: 6px !important;
}

.blazor-context-menu--default {    
    left: unset !important;
    top: 50px !important;
    z-index: 1;
    right: 0px;
    width: 420px;
}

.img-margin-left {
    margin-left: -9px;
}

.col-control{
    padding-left: 8px;
}
.lookupDropDwon {
    display: flex;
    justify-content: center;
    padding-left: 22px
}

.form-control {
    padding: 0.175rem 0.15rem 0.175rem 0.3rem;
    font-size: 15px !important;
}

select {
    padding-left: 0px !important;
}
.sidebar .fas {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.col-form-label {
    padding-right: 10px;
    justify-content: flex-end !important;
    display: flex !important;
    white-space: nowrap;
}
.align-items-center {
    align-items: center;
}

/*@@media only screen and (max-width: 769px) {
    .navbar {
        flex-wrap: nowrap !important;
    }
    .navbar-toggler {
        background-color: black !important;
        transform:translate(50px 10px) !important;
    }
    }*/

.spinner1 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1500ms linear infinite;
    top: 0%;
    position: absolute;
    border: dotted;
}

.spinnerEmail {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 30%;
    left: 50%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

input[type='file'] {
   color:transparent;
}
.table-action-icon {
    margin-right: 1px;
}


/*multiselect dropdown*/
.mulit-select-dropbtn {
    background-color: #ffff;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mulit-select-dropdown {
    position: relative;
}


.mulit-select-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .mulit-select-dropdown-content label {
        color: black;
        padding: 5px 4px;
        text-decoration: none;
        display: block;
        padding-left: 7px;
    }

        .mulit-select-dropdown-content label:hover {
            background-color: #f1f1f1
        }

.mulit-select-dropdown:hover .mulit-select-dropdown-content {
    display: block;
}

.dropdown:hover .mulit-select-dropbtn {
    background-color: #ffff;
}
.assignment-endclient {
    height: 26.8rem;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,.125);
}
.add-subClient {
    width: 18px;
    height: 26px;
}
.placeholder-color::-webkit-input-placeholder {
    font-weight: 400 !important;
    color: #bfc0c1 !important;
}

.client-label {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.address-height {
    max-height: 2rem;
    min-height: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.address-row-action {
    display: flex;
    align-items: center;
    padding: 0.275rem 0.3rem;
}
.address-card-action-align {
    bottom: 2px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    padding-right: .5rem !important;
}

.control-label {
    white-space: nowrap;
    margin-bottom: 0px !important;
}
.InputNumber::-webkit-inner-spin-button,
.InputNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
.text-upper-case {
    text-transform: uppercase;

}

.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    top: 52px;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
    padding-bottom: 3rem;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 10px;
}

.come-from-modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}
.show-all {
    position: fixed;
    bottom: 5rem;
}

/* Help Documentation Css*/
.content-header {
    text-decoration: underline;
    font-size: 17px;
    font-weight: 600;
}

.help ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(https://www.computerhope.com/cdn/arrow.png) no-repeat left center;
}

.help ol li {
    padding-top:15px;
}
.help ol img {
  border:1px solid;
}
#myImg {
    cursor: pointer;
    transition: 0.3s;
}

.Imgmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.img-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.img-modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
  padding: 0px;
  text-align: center;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 23%;
  position: relative;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: -45%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: blue;
}
.progressbar li.active:before {
  border-color: blue; 
} 
.progressbar li.active:after { 
  background-color: blue;
} 

/* rating */
.rate {
    float: left;
    height: 30px;
    padding: 0 10px;
    position: absolute;
    transform: translate(2px, -24px)
}

    .rate:not(:checked) > input {
        position: absolute;
        display: none;
       /*// top: -9999px;*/
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }


.myDiv {
    color: white !important;
    background-color: #1979c5 !important;
    border-color: #dee2e6;
    text-align: center;
}
.appraisalTableHeading {
    font-weight: 600;
    font-size: 18px;
    border-color: #dee2e6;
    text-align: center;
    display: flex;
    justify-content: center
}

.goal-border {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
}

.padding-left-right {
    padding-left: 30px;
    padding-right: 30px;
}
.close-button-text {
    display: inline-block;
    position: relative;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 4px;
    width: 25px;
    height: 24px;
    border: 0px !important;
    color: white !important;
    background-color: #1979c5 !important;
    text-align: center;
}

.salary-table  {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.salary-table .table-bordered {
    border: 1px solid #dee2e6;
}

.salary-table th td {
    border: 1px solid black;
    border-collapse: collapse;
}

.salary-tableth, td {
   /*// padding: 2px;*/
    transform: translate(0px, 2px);
    text-align: left;
}

.salaryTableComponent {
    padding-left: 5px;
}
.salaryTablePMPA {
    padding-right: 5px;
    text-align: right;
}
.mobile-card-view {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    cursor: pointer;
}


.mobile-card-view-label {
    display: flex;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: var(--dark-grey-blue);
    white-space: nowrap;
    justify-content:flex-end;
}
.mobile-card-view-value {
    letter-spacing: -0.3px;
}
.leave-request-mobile-rowactions {
    position: absolute;
    right: 10px;
    bottom: -13px;
    transform: translate(0, -23px);
}


.Notification-Menu {
    overflow-y: scroll;
    max-height: 600px;
}
.dashboard-height {
   // height: 63px;
}
.dashboard-number {
    width: 70px;
    min-height: 100%;
    background: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-font-size-weight {
    font-weight: bold;
    font-size:26px;
}
.sub-heading {
    display: flex;
    // justify-content: center;
    align-items: end;
    font-size: 16px;
    font-weight: 600;
}
.dashboard-card-height {
    color: white;
    height: 95px;
}
.display-flex {
    display:flex;
    justify-content:center;
    align-items: center;
}
.web-transform {
    position: absolute;
    top: 50%;
    transform: translate(8%, -50%);
}
.max-width-set {
    max-width: 410px !important;
}
