<div class="wrapper">
    <header>
        <div class="topbar hidden-mobile" style="left:0px; padding-right: 0.5rem; padding-left: 0.5rem; height:3.7rem;">
            <div id="topbar-left" style="display: flex;">
                <div>
                    <img class="navbar-brand" src="../../../assets/layout/images/pages/DEV.jpg" width="160" height="40" />
                </div>
            </div>
        </div>
        <div class="topbar hidden-web" style="left: 0px; padding-right: 0.5rem; padding-left: 0.5rem; height: 3.7rem; height: 62px;">
            <div id="topbar-left">
                <div style="padding-top: 5px;">
                    <img class="navbar-brand" src="../../../assets/layout/images/pages/DEV.jpg" width="160" height="40" />
                </div>
            </div>
        </div>
        <div>
            <div class="p-grid p-d-flex  topbar mobile-top-bar" style="background-color: #1979c5; left: 200px">
                <div class="p-col-7 p-pr-0 flex-display login-user-display" style=" display: flex; justify-content: center; align-items: center;">
                    <div class="p-col-4 p-pr-0  display-contents">
                        <img src="../../../assets/layout/images/pages/InfoHRAppLogo.png" width="290px;" height="55px;">
                    </div>
                </div>
                <!--<div class="p-grid ">-->
                <div class="p-col-5 p-pr-0  info-logo-side-icon" style="">
                   
                    <div class=" p-col-6 p-pr-0 user-image-display pr-0">
                        <div class="row" style="display: flex;justify-content:space-between;align-items: center; padding-right:7px;">
                            <div class="col-3 pr-0 mobile-left-padding" style="display:flex;">
                                <span style="font-size: 32px; color: white; cursor: pointer;">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                </span>
                                <div class="padding-add" style="cursor: pointer;  display: flex; justify-content: center; align-items: center;">
                                    <span style="font-size: 32px; color: white; cursor: pointer;" class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="col-9 img-margin-left " style="display:flex; justify-content:center; align-content:center;" >
                               
                                <img src="../../../assets/layout/images/pages/user-icon.png" class="rounded-circle menu-pointer" width="41">
                            </div>
                           
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </header>
    </div>
