<div class="p-grid hidden-web">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Process Data</h3>
    </div>
    <div class="p-col-12">
        <!--<app-ihr-table #dt [data]="lstWizardDataList" [isPagination]="isPagination"-->
        <app-ihr-table #dt [data]="lstWizardDataList" [isPagination]="isPagination"
                       [DropDownLabel]="'Process :'"
                       [DropDown]="lstProcesses"
                       [DefaultID]="DefaultDwnDn1ID"
                       (onDropDownChange)="onProcessChange($event)"
                       [DropDown2Label]="'Status:'"
                       [onMultiSelectDropDown]="lstMultiStatus"
                       [onMultiSelectedDropDown]="selectedEmpTypeList"
                       (onMultiSelectDropDownChange)="onChangeWizardStatusList($event)"
                       [sortingField]="'createdDate'"
                       [sortingFieldOrder]="1"
                       [globalFilterFields]="globalFilterFields"
                       [hasChanged]="true"
                       [loading]="loading"
                       [showCurrentPageReport]="showCurrentPageReport" [cols]="cols" [selectedColumns]="selectedColumns"
                       [rowActions]="rowActions" [headerActions]="headerActions" [tableState]="patientLanding">
        </app-ihr-table>
    </div>
    <!--<div>
        <router-outlet></router-outlet>
    </div>-->
</div>


<div class="p-grid  hidden-web hidden-mobile" *ngIf="true">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Process Data</h3>
    </div>
    <div class="p-col-12">
        <div class="p-grid p-mr-0 p-pb-1 display-flex mobile-display">
            <div class="p-col-12 p-pr-1 mobile-padding-remove mobile-pad-left-add">
                <div class="p-d-grid p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Global Search..." autocomplete="off" [(ngModel)]="searchText" />
                    <!--<input pInputText type="text" [(ngModel)]="searchText" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search..." />-->

                </div>
                <!--<input type="text" id="myFilter" class="form-control form-control-sm float-left" placeholder="Global Search..." @onkeyup="SearchFuntion" />-->
            </div>
            <div class="p-col-12 p-lg-4 p-pb-0 p-pr-3">
                <div class="p-grid grid-dropdown" *ngIf="lstProcesses != null && lstProcesses.length > 0">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate drpdwn" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Process :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstProcesses != null && lstProcesses.length > 0">
                        <p-dropdown [options]="lstProcesses"
                                    appendTo="body"
                                    [(ngModel)]="DefaultDwnDn1ID"
                                    (onChange)="onChangeProcess($event)"
                                    placeholder="Select"
                                    optionValue="ID"
                                    optionLabel="Value"></p-dropdown>
                    </div>
                </div>
                <div class="p-grid grid-dropdown" *ngIf="lstMultiStatus !=null && lstMultiStatus.length > 0" style="padding-top:14px;">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Status :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstMultiStatus != null">
                        <p-multiSelect [options]="lstMultiStatus"
                                       defaultLabel="Select"
                                       [(ngModel)]="selectedEmpTypeList"
                                       (onChange)="OnEmpChange($event)"
                                       optionValue="ID"
                                       optionLabel="Value"></p-multiSelect>
                    </div>
                </div>
                <div class="p-grid grid-dropdown" style="padding-top:14px; justify-content: end;" *ngIf="(DefaultTypeID !== 0 && DefaultTypeID !== undefined &&  DefaultTypeID !== null)">
                    <div class="p-md-12  p-p-0 p-text-right" >
                        <button pButton pRipple type="button" label="ADD" [disabled]="!(DefaultTypeID !== 0 && DefaultTypeID !== undefined &&  DefaultTypeID !== null)"  class=" btn-width-height p-button-raised btn-width-height btn btn-block btn-sm btn-info" style="margin: 0px !important;" (click)="Add()">
                            <i style="padding-right:6px;" class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12  p-pt-2" id="myItems" *ngIf="lstWizardDataList != null && lstWizardDataList.length > 0">
        <div class="p-col-12  p-pl-0 p-pr-0" *ngFor="let wizardData of lstWizardDataList | FilterPipe: searchText : searchableList">
            <!--<div class="p-card mobile-card-view p-mb-2" (click)="Edit(wizardData)">-->
            <div class="p-card mobile-card-view p-mb-2">
                <div class="p-card-body" style="padding-bottom: 0.5rem !important; padding-top: 0.5rem !important;">
                    <div class="p-grid">
                        <div class="p-col-12 p-pl-0 p-pt-0" style="display: flex; justify-content: end;">
                            <p-menu #popupMenu [popup]="true" [model]="items"></p-menu>
                            <button pButton type="button" (click)="toggleMenu(popupMenu, $event, wizardData)" style="position: absolute; background: white; padding-top: 11px;" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-plain p-button-text"></button>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex" style="display:contents;">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Process :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{wizardData.process}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex" style="display:contents !important;">
                            <label class="control-label p-col-5 p-pr-2  p-pt-0 p-pb-0 mobile-card-view-label" style="padding-top:1px !important;">Process Data :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{wizardData.dataColumns}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Status :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{wizardData.status}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Created Date :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{wizardData.createdDate | date : 'MM/dd/yyyy'}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Processed Date :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{wizardData.processedDate | date : 'MM/dd/yyyy'}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>



<app-wizard-flow #WizardFlowBaseModal (WizardDataUpdated)="LoadList($event)"> </app-wizard-flow>
<app-wizard-data-flow #WizardDataFlowModal (WizardDataUpdated)="LoadList($event)"> </app-wizard-data-flow>
<!--<p-toast></p-toast>-->

