<div class="stepsdemo-content p-pt-2" style="transform: translate(0px, 25px);">
    <div class="card">
        <div class="p-fluid">
            <div class="p-col-12 text-align" >
              <p class="alert alert-success">
                  <strong>Registration Success!</strong>
              </p>
            </div>
          <div class="p-col-12" style="display: flex; justify-content: end; transform: translate(3px, 30px);">
            <div>
          <button pButton pRipple label="Close"  (click)="Cancel()"  class="p-button-raised p-mr-2 p-mb-2"></button>
        </div>
        </div>
    </div>
</div>
</div>
