<div class="p-grid hidden-web">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Lookup</h3>
    </div>
    <div class="p-col-12">
        <app-ihr-table #dt [data]="LookupsList" [isPagination]="isPagination"
                       [DropDownLabel]="'Lookup Type :'"
                       [DropDown]="lstLookupType"
                       [DefaultID]="DefaultDwnDn1ID"
                       (onDropDownChange)="OnLookupTypeChange($event)"
                       [sortingField]="'value'"
                       [sortingFieldOrder]="1"
                       [loading]="loading"
                       [globalFilterFields]="globalFilterFields"
                       [showCurrentPageReport]="showCurrentPageReport" [cols]="cols" [selectedColumns]="selectedColumns"
                       [rowActions]="rowActions" [headerActions]="headerActions" [tableState]="patientLanding">
        </app-ihr-table>

    </div>
</div>
<div class="p-grid hidden-web hidden-mobile" *ngIf="true">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Lookup</h3>
    </div>
    <div class="p-col-12 ">
        <div class="p-grid p-mr-0 p-pb-1 display-flex mobile-display">
            <div class="p-col-12 p-pr-1 mobile-padding-remove mobile-pad-left-add">
                <div class="p-d-grid p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Global Search..." autocomplete="off" [(ngModel)]="searchText" />
                </div>
            </div>
            <div class="p-col-12 p-lg-4 p-pb-0 p-pr-3">
                <div class="p-grid grid-dropdown" *ngIf="lstLookupType != null && lstLookupType.length > 0">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate drpdwn" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Lookup Type :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstLookupType != null && lstLookupType.length > 0">
                        <p-dropdown [options]="lstLookupType"
                                    appendTo="body"
                                    [(ngModel)]="DefaultDwnDn1ID"
                                    (onChange)="onLookupTypeChangeMobile($event)"
                                    placeholder="Select"
                                    optionValue="ID"
                                    optionLabel="Value"></p-dropdown>
                    </div>
                </div>
                <div class="p-grid grid-dropdown" style="padding-top:14px; justify-content: end;">
                    <div class="p-md-12  p-p-0 p-text-right" *ngIf="(LookupId !== 0 && LookupId !== undefined &&  LookupId !== null)">
                        <button pButton pRipple type="button" label="ADD" class=" btn-width-height p-button-raised btn-width-height btn btn-block btn-sm btn-info" style="margin: 0px !important;" (click)="addLookUp()">
                            <i style="padding-right:6px;" class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12  p-pt-2" id="myItems" *ngIf="LookupsList != null && LookupsList.length > 0">
        <div class="p-col-12  p-pl-0 p-pr-0" *ngFor="let lookupType of LookupsList | FilterPipe: searchText : searchableList">
            <div class="p-card mobile-card-view p-mb-2" (click)="editlookup(lookupType)">
                <div class="p-card-body" style="padding-bottom:0.5rem !important;">

                    <div class="p-grid">
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Lookup Value :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{lookupType.value}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2  p-pt-0 p-pb-0 mobile-card-view-label">Description :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{lookupType.valueDesc}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Active :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{lookupType.isActive}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-add-edit-lookup #AddEditLookup [lookupId]="LookupId" (loadLookupList)="loadListValues($event)"></app-add-edit-lookup>
<p-toast></p-toast>
