<app-ihr-modal-popup [options]="modalOptions" [width]="850" #addEditCompanyModal>
    <div class="modal-header-text">
        {{ModalHeading}}
    </div>
    <div class="modal-popup-body">
        <form [formGroup]="CompanyForm">
            <div class="p-grid display-flex-block">
                <div class="p-col-12 p-p-0 p-mt-2 p-text-center remove-padding" *ngIf="ErrorMessage !== null || ErrorMessage !== ''" [ngStyle]="{'display': ErrorMessage !== '' ? 'block' : 'none' }">
                    <span class="error-message-color" style="color: red;">{{ErrorMessage}} &nbsp;</span>
                </div>
                <div class="p-md-12 p-pl-0 p-pr-0 p-mt-3">
                        <div class="p-col-12 p-p-0">
                            <div class="p-fluid p-formgrid">
                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname1">* Company Name </label>
                                        <input type="text" formControlName="Name" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.Name.errors }" />
                                    </div>
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname2">* Company Type </label>
                                        <div class="p-md-8 p-p-0">
                                            <p-dropdown [options]="CompanyTypeList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditCompanyControls.CompanyTypeID.errors }"
                                                        appendTo="body"
                                                        (onChange)="onChangeCompanyType($event)"
                                                        formControlName="CompanyTypeID"
                                                        placeholder="Select Type"
                                                        optionValue="listValueID"
                                                        optionLabel="valueDesc"></p-dropdown>
                                        </div>
                                    </div>

                                </div>
                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-6 p-d-flex p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname3">Is EndClient </label>
                                        <!--<input type="text" formControlName="LastName" pInputText/>-->
                                        <p-checkbox formControlName="IsEndClient" [disabled]="isEndClientdisable" binary="true" inputId="binary"></p-checkbox>
                                    </div>
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname1">* Tax </label>
                                        <input type="text" formControlName="TaxID" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.TaxID.errors }" />
                                    </div>

                                </div>
                                <div class="p-grid p-pb-0 mobile-display-block">
                                    <div class="p-md-6   p-pb-0 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname2">* Payment Term </label>
                                        <div class="p-md-8 p-p-0">
                                            <p-dropdown [options]="PaymentTermList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditCompanyControls.PaymentTermID.errors }"
                                                        appendTo="body"
                                                        (onChange)="onChangePaymentTerm($event)"
                                                        formControlName="PaymentTermID"
                                                        placeholder="Select Term"
                                                        optionValue="listValueID"
                                                        optionLabel="valueDesc"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="p-md-6 p-pb-0 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname3">* Invoicing Period </label>
                                        <div class="p-md-8 p-p-0">
                                            <p-dropdown [options]="InvoicingPeriodList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditCompanyControls.InvoicingPeriodID.errors }"
                                                        appendTo="body"
                                                        (onChange)="onChangeInvoicingPeriod($event)"
                                                        formControlName="InvoicingPeriodID"
                                                        placeholder="Select Invoice"
                                                        optionValue="listValueID"
                                                        optionLabel="valueDesc"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <p-fieldset class="employee-part-2 " legend="Address">
                            <div class="p-fluid p-formgrid">
                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname4"> * Address 1 </label>
                                        <input type="text" formControlName="Address1" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.Address1.errors }" />
                                    </div>
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname5">Address2 </label>
                                        <input type="text" formControlName="Address2" pInputText />
                                    </div>

                                </div>
                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname6"> * City </label>
                                        <input type="text" formControlName="City" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.City.errors }" />
                                    </div>
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname7"> * State</label>
                                        <div class="p-md-8 p-p-0">
                                            <p-dropdown [options]="StateList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditCompanyControls.State.errors }"
                                                        appendTo="body"
                                                        formControlName="State"
                                                        placeholder="Select State"
                                                        optionValue="stateDesc"
                                                        optionLabel="stateDesc"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-grid p-pb-0 mobile-display-block">
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname8"> * Country </label>
                                        <div class="p-md-8 p-p-0">
                                            <p-dropdown [options]="CountryList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditCompanyControls.Country.errors }"
                                                        appendTo="body"
                                                        formControlName="Country"
                                                        (onChange)="onChangeCountry($event)"
                                                        placeholder="Select Country"
                                                        optionValue="countryDesc"
                                                        optionLabel="countryDesc"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="p-md-6 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname9">* ZipCode </label>
                                        <input type="text" formControlName="ZipCode" maxlength="10" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.ZipCode.errors }" />
                                    </div>
                                </div>
                            </div>
                    </p-fieldset>

                    <div class="p-col-12 p-p-0 display-flex-block">
                        <div class="p-md-6 p-pl-0 display-flex-block p-pt-0 ">
                            <p-fieldset class="employee-part-2 " legend="Contact">
                                <div class="p-fluid p-formgrid">
                                    <div class="p-grid p-pb-0 mobile-display-block">
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname4"> * Name</label>
                                            <input type="text" formControlName="ContactName" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.ContactName.errors }" />
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname5">* Phone </label>
                                            <p-inputMask mask="9999999999" class="p-md-8 p-p-0" formControlName="ContactPhone" [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.ContactPhone.errors }"></p-inputMask>
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname6"> * Email </label>
                                            <input type="text" formControlName="ContactEmail" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.ContactEmail.errors }" />
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="p-md-6 p-pr-0 display-flex-block p-pt-0 ">
                            <p-fieldset class="employee-part-2 " legend="Alternate Contact">
                                <div class="p-fluid p-formgrid">
                                    <div class="p-grid p-pt-0 mobile-display-block">
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname4">  Name</label>
                                            <input type="text" formControlName="AlternateContactName" pInputText />
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname5"> Phone </label>
                                            <p-inputMask mask="9999999999" class="p-md-8 p-p-0" formControlName="AlternateContactPhone"></p-inputMask>
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname6"> Email </label>
                                            <input type="text" formControlName="AlternateContactEmail" pInputText />
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="p-col-12 p-p-0 display-flex-block">
                        <div class="p-md-6 p-pl-0 display-flex-block p-pt-0 ">
                            <p-fieldset class="employee-part-2 " legend="Invoice Contact">
                                <div class="p-fluid p-formgrid">
                                    <div class="p-grid p-pb-0 mobile-display-block">
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname4">* Name</label>
                                            <input type="text" formControlName="InvoiceContactName" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.InvoiceContactName.errors }" />
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname5">* Phone </label>
                                            <p-inputMask mask="9999999999" class="p-md-8 p-p-0" formControlName="InvoiceContactPhone" [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.InvoiceContactPhone.errors }"></p-inputMask>
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname6">* Email </label>
                                            <input type="text" formControlName="InvoiceContactEmail" pInputText [ngClass]="{ 'is-invalid': submitted && addEditCompanyControls.InvoiceContactEmail.errors }" />
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="p-md-6 p-pr-0 display-flex-block p-pt-0 ">
                            <p-fieldset class="employee-part-2 " legend="Alternate Invoice Contact">
                                <div class="p-fluid p-formgrid">
                                    <div class="p-grid p-pt-0 mobile-display-block">
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname4">  Name</label>
                                            <input type="text" formControlName="AlternateInvoiceContactName" pInputText />
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname5"> Phone </label>
                                            <p-inputMask mask="9999999999" class="p-md-8 p-p-0" formControlName="AlternateInvoiceContactPhone"></p-inputMask>
                                        </div>
                                        <div class="p-md-12 display-flex-block p-pt-0 ">
                                            <label class="control-label p-md-4 col-form-label mobile-col-form-label" for="firstname6"> Email </label>
                                            <input type="text" formControlName="AlternateInvoiceContactEmail" pInputText />
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>




                </div>
            </div>
        </form>
    </div>
</app-ihr-modal-popup>
<p-toast></p-toast>
