
<app-ihr-modal-popup [options]="modalOptions" [width]="1050" #addEditSalaryModal>
    <div class="modal-header-text">
        {{ModalHeading}}
    </div>
    <div class="modal-popup-body">
        <div class="p-grid display-flex-block">

            <div class="p-md-12">
                <form [formGroup]="SalaryForm">
                    <div class="p-grid pathx-frm display-flex-block">
                        <div class="p-col-12 p-pt-5">
                            <div class="p-fluid p-formgrid">


                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-6 col-form-label mobile-col-form-label" for="firstname333">Start Date</label>
                                        <p-calendar class="p-md-6 p-p-0" formControlName="StartDate" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.StartDate.errors }"
                                                    [showIcon]="true"
                                                    dateFormat="mm/dd/yy"
                                                    inputId="firstname633"
                                                    [monthNavigator]="true"
                                                    [yearNavigator]="true"
                                                    [yearRange]="commonUtils.getDateRange()"
                                                    appendTo="body"></p-calendar>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0 ">
                                        <label class="control-label p-md-6 col-form-label mobile-col-form-label" for="firstname87">End Date</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-calendar class="p-md-6 p-p-0" formControlName="EndDate"
                                                        [showIcon]="true"
                                                        dateFormat="mm/dd/yy"
                                                        inputId="firstname87"
                                                        [monthNavigator]="true"
                                                        [yearNavigator]="true"
                                                        [yearRange]="commonUtils.getDateRange()"
                                                        appendTo="body"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Basic Pay</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="BasicPay" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.BasicPay.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* HRA</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="HRA" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.HRA.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* LTA</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="LTA" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.LTA.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Special Allowance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="SpecialAllowance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.SpecialAllowance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                </div>

                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Education Allowance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="EducationAllowance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.EducationAllowance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Conveyance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="Conveyance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.Conveyance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Meal Allowance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="MealAllowance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.MealAllowance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                </div>

                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Telephone Allowance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="TelephoneAllowance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.TelephoneAllowance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Meal Allowance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="MedicalAllowance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.MedicalAllowance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Medical Insurance</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="MedicalInsurance" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.MedicalInsurance.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>

                                </div>


                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Bonus</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="Bonus" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.Bonus.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Variable Pay</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="VariablePay" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.VariablePay.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Provident Fund</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="ProvidentFund" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.ProvidentFund.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                </div>

                                <div class="p-grid p-pb-2 mobile-display-block">
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* Gratuity</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="Gratuity" [ngClass]="{ 'is-invalid': submitted && addEditSalaryFormControls.Gratuity.errors }"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* CTC Per Month</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <!--<input type="text" [(ngModel)]="TotalCTCPM"  disabled="true" pInputText />-->
                                            <p-inputNumber formControlName="TotalCTCPM" disabled="true"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                    <div class="p-md-4 display-flex-block p-pt-0">
                                        <label class="control-label p-md-6  col-form-label mobile-col-form-label" for="integeronly">* CTC Per Annum</label>
                                        <div class="p-md-6 p-p-0  remove-padding-right">
                                            <p-inputNumber formControlName="CostToCompany" disabled="true"
                                                           inputId="firstname3"
                                                           [useGrouping]="false"
                                                           mode="decimal"
                                                           [minFractionDigits]="2"
                                                           [maxFractionDigits]="2"
                                                           [maxlength]="11">
                                            </p-inputNumber>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <div class="p-md-12" style="max-height: 320px; overflow-y: auto;">
                <div class="p-grid p-p-0 remove-padding-right" >
                    <table class="salary-table table-bordered">
                        <thead>
                            <tr style="background-color: #1979c5;color: white;">
                                <th class="salaryTableComponent" scope="col" style="text-align:left;">Component</th>
                                <th scope="col" style="text-align:center;">Per Month</th>
                                <th scope="col" style="text-align:center;">Per Annum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="salaryTableComponent">Basic</td>
                                <td class="salaryTablePMPA">{{OnSalaryBasicPay().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeBasicPay().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">HRA</td>
                                <td class="salaryTablePMPA">{{OnSalaryHRA().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeHRA().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">LTA</td>
                                <td class="salaryTablePMPA">{{OnSalaryLTA().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeLTA().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent" scope="row">Education Allowance</td>
                                <td class="salaryTablePMPA">{{OnSalaryEducationAllowance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeEducationAllowance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Special Allowance</td>
                                <td class="salaryTablePMPA">{{OnSalarySpecialAllowance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeSpecialAllowance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Bonus</td>
                                <td class="salaryTablePMPA">{{OnSalaryBonus().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeBonus().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Meal Allowance</td>
                                <td class="salaryTablePMPA">{{OnSalaryMealAllowance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeMealAllowance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Telephone Allowance</td>
                                <td class="salaryTablePMPA">{{OnSalaryTelephoneAllowance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeTelephoneAllowance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Conveyance</td>
                                <td class="salaryTablePMPA">{{OnSalaryConveyance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeConveyance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Medical Allowance</td>
                                <td class="salaryTablePMPA">{{OnSalaryMedicalAllowance().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeMedicalAllowance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Medical Insurance</td>
                                <td class="salaryTablePMPA">-</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeMedicalInsurance().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Variable Pay</td>
                                <td class="salaryTablePMPA">-</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeVariablePay().toFixed(2)}}</td>
                            </tr>
                            <tr style="background-color: #cec7c7; font-weight:600;">
                                <td class="salaryTableComponent">Total Employee Gross Wage</td>
                                <td class="salaryTablePMPA">{{GetEmployeeTotalGrossWagePM().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{GetEmployeeTotalGrossWagePA().toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="salary-table table-bordered">
                        <thead>
                            <tr style="background-color: #1979c5;color: white;">
                                <th class="salaryTableComponent" scope="col" style="text-align:left; padding-left:5px;">Employer Contribution</th>
                                <th scope="col" style="text-align:center;">Per Month</th>
                                <th scope="col" style="text-align:center;">Per Annum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="salaryTableComponent">Provident Fund</td>
                                <td class="salaryTablePMPA">{{OnSalaryProvidentFund().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeProvidentFund().toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td class="salaryTableComponent">Gratuity</td>
                                <td class="salaryTablePMPA">{{OnSalaryGratuity().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{OnSalaryChangeGratuity().toFixed(2)}}</td>
                            </tr>
                            <tr style="background-color: #cec7c7; font-weight:600;">
                                <td class="salaryTableComponent">Total Cost To Company</td>
                                <td class="salaryTablePMPA">{{GetTotalCostToCompanyPM().toFixed(2)}}</td>
                                <td class="salaryTablePMPA">{{GettotalCostToCompanyPA().toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</app-ihr-modal-popup>
<p-toast></p-toast>
