<div class="p-grid hidden-web">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Manage Timesheet</h3>
    </div>
    <div class="p-col-12  p-mt-2">
        <!--<app-ihr-table #dLt [data]="lstTimeSheetRequest" [isPagination]="isPagination"-->
        <app-ihr-table #dLt [data]="lstTimeSheetRequest" [isPagination]="isPagination"
                       [DropDownLabel]="'Status :'"
                       [DropDown]="lstStatus"
                       [DefaultID]="DefaultDwnDn1ID"
                       (onDropDownChange)="onStatusChange($event)"
                       [sortingField]="'weekEnding'"
                       [sortingFieldOrder]="1"
                       [loading]="loading"
                       [globalFilterFields]="globalFilterFields"
                       [showCurrentPageReport]="showCurrentPageReport" [cols]="cols" [selectedColumns]="selectedColumns"
                       [rowActions]="rowActions" [headerActions]="headerActions" [tableState]="patientLanding">
        </app-ihr-table>
    </div>
</div>



<div class="p-grid  hidden-web hidden-mobile" *ngIf="true">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Manage Leave</h3>
    </div>
    <div class="p-col-12 ">
        <div class="p-grid p-mr-0 p-pb-1 display-flex mobile-display">
            <div class="p-col-12 p-pr-1 mobile-padding-remove mobile-pad-left-add">
                <div class="p-d-grid p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Global Search..." autocomplete="off" [(ngModel)]="searchText" />
                    <!--<input pInputText type="text" [(ngModel)]="searchText" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search..." />-->
                </div>
            </div>
            <div class="p-col-12 p-lg-4 p-pb-0 p-pr-3">
                <div class="p-grid grid-dropdown" *ngIf="lstStatus != null && lstStatus.length > 0">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate drpdwn" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Status :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstStatus != null && lstStatus.length > 0">
                        <p-dropdown [options]="lstStatus"
                                    appendTo="body"
                                    [(ngModel)]="DefaultDwnDn1ID"
                                    (onChange)="onChangeStatus($event)"
                                    placeholder="Select"
                                    optionValue="ID"
                                    optionLabel="Value"></p-dropdown>
                    </div>
                </div>
            
            </div>
        </div>
    </div>

    <div class="p-col-12  p-pt-2" id="myItems" *ngIf="lstTimeSheetRequest !== null && lstTimeSheetRequest.length > 0">
        <div class="p-col-12  p-pl-0 p-pr-0" *ngFor="let timeSheetRequest of lstTimeSheetRequest | FilterPipe: searchText : searchableList">
            <div class="p-card mobile-card-view p-mb-2" (click)="Edit(timeSheetRequest)">
                <div class="p-card-body" style="padding-bottom:0.5rem !important;">
                    <div class="p-grid">
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Employee Name :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.employeeName}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2  p-pt-0 p-pb-0 mobile-card-view-label">Week Ending :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.weekEnding | date : 'MM/dd/yyyy'}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Total Hours :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest?.totalHours.toString()}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Submitted By :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest?.submittedBy}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Submitted Date :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.submittedDate | date : 'MM/dd/yyyy'}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Approved By Email :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.approvedByEmail}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Approved Date :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.approvedDate | date : 'MM/dd/yyyy'}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Balance :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.vacationBalance}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Encashed :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{timeSheetRequest.encashedLeave}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>




<app-add-edit-manage-timesheet #AddEditTimesheetModal (TimeSheetUpdated)="LoadRequest()"></app-add-edit-manage-timesheet>

