<div class="p-grid hidden-web">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Manage Leave</h3>
    </div>
    <div class="p-col-12  p-mt-2">
        <!--<app-ihr-table #dLt [data]="lstTimeSheetRequest" [isPagination]="isPagination"-->
        <app-ihr-table #dLt [data]="lstManageLeave" [isPagination]="isPagination"
                       [DropDownLabel]="'Status :'"
                       [DropDown]="lstYear"
                       [DefaultID]="DefaultDwnDn1ID"
                       (onDropDownChange)="onYearChange($event)"
                       [DropDown2Label]="'Country :'"
                       [DropDown2]="lstCountry"
                       [DropDown2DefaultID]="DropDown2DefaultID"
                       (onDropDown2Change)="onCountryChange($event)"
                       [sortingField]="'employeeName'"
                       [sortingFieldOrder]="1"
                       [loading]="loading"
                       [globalFilterFields]="globalFilterFields"
                       [showCurrentPageReport]="showCurrentPageReport" [cols]="cols" [selectedColumns]="selectedColumns"
                       [rowActions]="rowActions" [headerActions]="headerActions" [tableState]="patientLanding">
        </app-ihr-table>
    </div>
</div>



<div class="p-grid  hidden-web hidden-mobile" *ngIf="true">
    <div class="p-col-12 p-pt-0 p-pb-0">
        <h3 style="margin-bottom:1px;">Manage Leave</h3>
    </div>
    <div class="p-col-12 ">
        <div class="p-grid p-mr-0 p-pb-1 display-flex mobile-display">
            <div class="p-col-12 p-pr-1 mobile-padding-remove mobile-pad-left-add">
                <div class="p-d-grid p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Global Search..." autocomplete="off" [(ngModel)]="searchText" />
                    <!--<input pInputText type="text" [(ngModel)]="searchText" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search..." />-->
                </div>
            </div>
            <div class="p-col-12 p-lg-4 p-pb-0 p-pr-3">
                <div class="p-grid grid-dropdown" *ngIf="lstYear != null && lstYear.length > 0">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate drpdwn" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Status :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstYear != null && lstYear.length > 0">
                        <p-dropdown [options]="lstYear"
                                    appendTo="body"
                                    [(ngModel)]="DefaultDwnDn1ID"
                                    (onChange)="onChangeYear($event)"
                                    placeholder="Select"
                                    optionValue="ID"
                                    optionLabel="Value"></p-dropdown>
                    </div>
                </div>
                <div class="p-grid grid-dropdown" style="padding-top: 15px;" *ngIf="lstCountry != null && lstCountry.length > 0">
                    <label class="p-col-5 p-pb-0 p-pl-0 col-form-label mobile-transform-translate drpdwn" style="padding-right: 7px; padding-top: 0px !important; font-weight: 600;">Country :</label>
                    <div class="p-col-7 p-pl-0 p-pt-0 p-pr-0 p-pb-0 mobile-first-dropdown-padding text-left" *ngIf="lstCountry != null && lstCountry.length > 0">
                        <p-dropdown [options]="lstCountry"
                                    appendTo="body"
                                    [(ngModel)]="DropDown2DefaultID"
                                    (onChange)="OnChangeCountry($event)"
                                    placeholder="Select"
                                    optionValue="ID"
                                    optionLabel="Value"></p-dropdown>
                    </div>
                </div>
                <div class="p-grid grid-dropdown" style="padding-top:14px; justify-content: end;">
                    <div class="p-md-12  p-p-0 p-text-right" style=" padding-right: 16px !important;">
                        <button pButton pRipple type="button" label="ACCRUE LEAVE" class=" btn-width-height p-button-raised btn-width-height btn btn-block btn-sm btn-info" style="margin: 0px !important;" (click)="OnLeaveAccrue()">
                            <i style="padding-right:6px;" class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="p-md-12  p-p-0 p-text-right">
                        <button pButton pRipple type="button" label="PENDING LWP" class=" btn-width-height p-button-raised btn-width-height btn btn-block btn-sm btn-info" style="margin: 0px !important;" (click)="OnCalculateLWP()">
                            <i style="padding-right:6px;" class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12  p-pt-2" id="myItems" *ngIf="true">
   <!-- <div class="p-col-12  p-pt-2" id="myItems" *ngIf="lstManageLeave !== null && lstManageLeave.length > 0 ">-->
        <div class="p-col-12  p-pl-0 p-pr-0" *ngFor="let manageLeave of lstManageLeave | FilterPipe: searchText : searchableList">
            <div class="p-card mobile-card-view p-mb-2" (click)="edit(manageLeave)">
                <div class="p-card-body" style="padding-bottom:0.5rem !important;">
                    <div class="p-grid">
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Employee Name :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.employeeName}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2  p-pt-0 p-pb-0 mobile-card-view-label">Year :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.leaveYear}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Type :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0 p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.leaveType}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Total :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.vacationTotal}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Used :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.vacationUsed}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Unpaid :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.unpaidLeave}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Balance :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.vacationBalance}}
                            </div>
                        </div>
                        <div class="p-col-12 p-p-0 display-flex">
                            <label class="control-label p-col-5 p-pr-2 p-pt-0 p-pb-0 mobile-card-view-label">Encashed :</label>
                            <div class="p-col-7 p-pl-0 p-pr-0  p-pt-0 p-pb-0 mobile-card-view-value">
                                {{manageLeave.encashedLeave}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>




<app-add-edit-manage-leave #AddEditManageLeaveModal (UpdateLeaveList)="LoadLeaveBalance()"></app-add-edit-manage-leave>
<app-add-edit-lwp #AddEditLWPModal (UpdateLeaveList)="LoadLeaveBalance()"></app-add-edit-lwp>
<app-accrue-leave #AccrueLeaveModal (UpdateLeaveList)="LoadLeaveBalance()"></app-accrue-leave>
<app-calculate-lwp #CalculateLWPModal (UpdateLeaveList)="LoadLeaveBalance()"></app-calculate-lwp>

